<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jhtrack/src-jogl-demos/demos/texture/TestTexture.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="demos.texture.TestTexture"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jhtrack"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=${workspace_loc:jhtrack/LIBs/jogl/1.1.1.a/linux-i586}"/>
</launchConfiguration>
